.header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    margin: 0 20px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;
}

.header-content img {
    border-radius: 10px;
}
