.hero {
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    scroll-margin: 80px;
}

.hero-description {
    margin: 20px;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hero-description p {
    text-align: center;
    font-size: 18px;
}

.hero-img {
    display: flex;
    justify-content: center;
}

.hero-img img{
    align-items: center;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

@media screen and (min-width: 768px){
    .hero {
        max-width: 1024px;
        display: flex;
        flex-direction: row;
        margin: 0 40px;
    }
    
    .hero-img img{
        width: 450px;
        height: 450px;
    }
    
}

@media screen and (min-width: 1024px){
    .hero {
        max-width: 3000px;
        display: flex;
        flex-direction: row;
        margin: 0 40px;
    }
    
    .hero-img img{
        width: 550px;
        height: 550px;
    }
}